.card-image {
    height: 150px;
    width: 150px;
}
.footer-buttons{
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    /* background-color: yellow; */
}

.card-title {
    
    margin-top: 10px;
}
.card-subtitle {
    font-size: 13pt;
}